<div class="offset-by-one column">
  <h1>Meet The Developers</h1>
  <div class="josh-about three columns">
    <h2>Joshua Mun</h2>
    <%= image_tag("josh.gif", size:"210x210") %>
    <p>
      Josh took his first job at Amazon owning the Bosch P&amp;L slice and established the business as #2 in Tools on the Amazon.ca market.
      Secretly however, he longed to marry his passion for design with something more analytically creative. On May 5th, he executed the dream and graduated from Dev Bootcamp leading a team to develop a mobile infinite side-scroller game adaptable across multiple devices.
      Today, he continues to transform semantic meaning into beautiful technology as he refines his technology stack from Ruby on Rails to React and beyond.
    </p>
      <a href="mailto:joshuamun@gmail.com">
        <%= image_tag("email.png", size: "50x50")%>
      </a>
      <a href="http://linkedin.com/in/joshuamun">
        <%= image_tag("linkedin.png", size: "50x50")%>
      </a>
      <a href="https://github.com/joshmun">
        <%= image_tag("github.png", size: "50x50")%>
      </a>
      <a href="https://cornman-api.herokuapp.com">
        <%= image_tag("portfolio.png", size: "50x50")%>
      </a>
  </div>

  <div class="julie-about three columns">
    <h2>Julia "Julie" Xu</h2>
    <%= image_tag("julia.gif", size:"210x210") %>
    <p>
      Hi, I'm Julie! I'm a graduate from the University of Washington with a degree in engineering. I've always had an avid interest in game development and tech applications that aim to create happy and healthy individuals. I pursued DevBootcamp because I wanted more actionable skills where I could marry the technical interest in engineering with the beneficial speed of seeing real-time action projects and value being created in coding. Prior to DevBootcamp, I was working as an intern in mechanical engineering -- modeling component parts using 3D software; and prior to that I gained a Materials Engineering degree and worked in a lab that targeted the treatment of TBI via ultrasound.
    </p>
    <a href="mailto:juliamxu@gmail.com">
      <%= image_tag("email.png", size: "50x50")%>
    </a>
    <a href="http://linkedin.com/in/juliamxu">
      <%= image_tag("linkedin.png", size: "50x50")%>
    </a>
    <a href="https://github.com/jmxu94">
      <%= image_tag("github.png", size: "50x50")%>
    </a>
    <a href="https://jmxu94.github.io/">
      <%= image_tag("portfolio.png", size: "50x50")%>
    </a>
  </div>


  <div class="linsey-about three columns">
    <h2>Linsey Reed</h2>
    <%= image_tag("linsey.gif", size:"210x210") %>
    <p>
      Aloha! My name is Linsey and I'm an island girl from Hawai'i now residing in <em>Seattle!</em> I enjoy eating delicious food and writing code for fun consumer projects! Prior to coding I was working in Health Information Management and also did IT Tech Support while earning my BA in Biology. I soon found myself yearning to content create again and thus renewed my love for coding! I hope to bring together my passions for digital media, minimalistic designs, bold branding and code into a space where they can bring happiness for others. I seek to employ creativity and accountability in my code paralleled with my desire to help others find their happiness, all bundled up in an environment that continues to promote honesty and trust. 
    </p>
    <a href="mailto:reedlinsey@gmail.com">
      <%= image_tag("email.png", size: "50x50")%>
    </a>
    <a href="http://linkedin.com/in/reedlinsey">
      <%= image_tag("linkedin.png", size: "50x50")%>
    </a>
    <a href="https://github.com/linseyo">
      <%= image_tag("github.png", size: "50x50")%>
    </a>
    <a href="https://linseyo.github.io/">
      <%= image_tag("portfolio.png", size: "50x50")%>
    </a>
  </div>

</div>
