<div class="offset-by-one column">
  <h1>Meet The Developers</h1>
  <div class="josh-about three columns">
    <h2>Joshua Mun</h2>
    <%= image_tag("josh.gif", size:"210x210") %>
    <p>
      Josh took his first job at Amazon owning the Bosch P&amp;L slice and established the business as #2 in Tools on the Amazon.ca market.
      Secretly however, he longed to marry his passion for design with something more analytically creative. On May 5th, he executed the dream and graduated from Dev Bootcamp leading a team to develop a mobile infinite side-scroller game adaptable across multiple devices.
      Today, he continues to transform semantic meaning into beautiful technology as he refines his technology stack from Ruby on Rails to React and beyond.
    </p>
      <a href="mailto:joshuamun@gmail.com">
        <%= image_tag("email.png", size: "50x50")%>
      </a>
      <a href="http://linkedin.com/in/joshuamun">
        <%= image_tag("linkedin.png", size: "50x50")%>
      </a>
      <a href="https://github.com/joshmun">
        <%= image_tag("github.png", size: "50x50")%>
      </a>
      <a href="https://cornman-api.herokuapp.com">
        <%= image_tag("portfolio.png", size: "50x50")%>
      </a>
  </div>

  <div class="julie-about three columns">
    <h2>Julia "Julie" Xu</h2>
    <%= image_tag("julia.gif", size:"210x210") %>
    <p>
      Information about us goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
    </p>
    <a href="mailto:EMAILHERE">
      <%= image_tag("email.png", size: "50x50")%>
    </a>
    <a href="http://linkedin.com/in/">
      <%= image_tag("linkedin.png", size: "50x50")%>
    </a>
    <a href="https://github.com/">
      <%= image_tag("github.png", size: "50x50")%>
    </a>
    <a href="https://">
      <%= image_tag("portfolio.png", size: "50x50")%>
    </a>
  </div>


  <div class="linsey-about three columns">
    <h2>Linsey Reed</h2>
    <%= image_tag("linsey.gif", size:"210x210") %>
    <p>
      Information about us goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a href="mailto:reedlinsey@gmail.com">
      <%= image_tag("email.png", size: "50x50")%>
    </a>
    <a href="http://linkedin.com/in/reedlinsey">
      <%= image_tag("linkedin.png", size: "50x50")%>
    </a>
    <a href="https://github.com/linseyo">
      <%= image_tag("github.png", size: "50x50")%>
    </a>
    <a href="https://linseyo.github.io/">
      <%= image_tag("portfolio.png", size: "50x50")%>
    </a>
  </div>

</div>
