<header>
  <h1>Game Assets</h1>
  <p class="single-center">Pixel and Vector assets created in Asesprite and Adobe Illustrator.</p>
</header>

<%= image_tag("gameplay1_iphone6_silver_landscape.png", size: "910x400", alt: "game on iphone display") %>

<div class="photobanner">
  <%= image_tag("cornman.gif", class: "first", alt: "player corn sprite") %>
  <%= image_tag("cow.gif", alt: "enemy cow sprite") %>
  <%= image_tag("tractor.gif", alt: "enemy tractor sprite") %>
  <%= image_tag("weeds.gif", alt: "enemy weed sprite") %>
  <%= image_tag("corns.gif", alt: "corn sprites for coins and ammo reload") %>
  <%= image_tag("taco-items.png", alt: "taco banner and item sprites") %>
  <%= image_tag("bullets-and-clouds.gif", alt: "corn kernel bullets and cloud sprites") %>
  <%= image_tag("menu-buttons.png", alt: "menu button sprites") %>
  <%= image_tag("cornman.gif", alt: "player corn sprite") %>
  <%= image_tag("cow.gif", alt: "enemy cow sprite") %>
</div>
