<div class="wrapper dev">
  <div class="main dev">
<section class="page1">
<!--   <div id="back-button">
      <a href='/'><%= image_tag("go-back.png", {size: "90x33"} ) %></a>
  </div> -->
    <div class="title-image">
      <%= image_tag("title-screen_macbookpro15_front.png", {size: "962x578"} ) %>
    </div>
    <div class="offset-by-two three columns paragraph">
      <p class="title space">Project Overview</p>
        <p class="space">
          In the final week of Bootcamp, we decided to build an HTML5 mobile application adaptable across multiple devices. In the short 7 days, we utilized agile methodologies, learned a brand new Phaser framework and deployed Cornman and the Cornman API both to heroku.
        </p>
    </div>
  <div class="three columns paragraph">
    <p class="title space">Technologies Used</p>
    <p>Javascript ES6, Phaser Framework, HTML5/CSS3, Ruby/Rails, Jasmine, Adobe Photoshop, Illustrator, Premiere Pro, Aseprite</p>
    <p class="title space">Methodologies Utilized</p>
    <p>Mobile first design, Agile, Website Wireframes</p>
  </div>
  <div class="three columns paragraph">
    <p class="title space">Duration</p>
    <p class="space">April 27, 2017 - May 5, 2017</p>
    <p class="title space">Roles</p>
    <ul>
      <li>Team Lead: Josh Mun</li>
      <li>Design Executive: Linsey Reed</li>
      <li>Scrum Master: Julia Xu</li>
    </ul>
  </div>
</section>

<section class="page2 dev">
  <h1 class="title">Phase 1: Learn</h1>
  <div class="offset-by-three six columns paragraph">
      <p>The first objective was to learn. None of us had ever developed a game--we had no idea even where to begin. We had vague notions of which technologies we'd like to use, "React is hot!", "Let's stick to Rails...", "what's a game engine?" The project was intimidating to say the least, but like all great things, we took it methodically, systematically and strategically.</p>
      <p>The first day was devoted to deep diving the subject. We scourged the internet, found dozens of possibilities, closed doors on dozens more until after lunch we circled in our chairs and decided: Pure Javascript, Phaser framework. We busted out our stickies and got to work towards a path to green. By the end of Thursday we built our Kanban, forecasted project timelines and agreed on team norms would included mandatory starbucks outings during the project. With good empathy and agile guiding us, the team was stoked.</p>
    </div>
</section>

<section class="page3">
  <div class="offset-by-one column">
    <h1 class="dev">Phase 2: Code, draw, scrap, learn, repeat.</h1>
  </div>
  <div class="seven columns iteration-image">
    <%= image_tag("iterationgameplay.png", {size: "750x291"} ) %>
    <%= image_tag("iterationplay2.png", {size: "750x291"} ) %>
  </div>
  <div class="three columns phase-2">
    <p>The next few days we were deep in the iteration cycle. We pushed back and forth on various topics: whether to deploy pure javascript for our game, deploying a back end rails api only, then tearing it down in favor of a full rails application to both house top Cornman global scores and host our project website.</p>
    <p>As much as we coded, we designed full time. Every asset was original, rescaled and produced utilizing Adobe Photoshop, Illustrator and Aseprite. This was the highlight of the project. We could marry our passion for coding with our first love for design.</p>
    <p>This phase of the project best exemplified our greatest asset coming through bootcamp. It was a demonstration of our ability to learn and tackle new challenges. We became comfortable with feeling lost and confused, and in that environment we thrived. We deep dived into Phaser, indexed reliable resources and learned to write and translate Javascript into ES6.</p>
  </div>
</section>

<section class="page4">
  <div class="title">
    <h1>Phase 3: The Road to Deploy</h1>
  </div>
  <div class="offset-by-one four columns">
  <h2>Lessons</h2>
  <p>Continue to challenge ourselves, such as implementing a username feature. More research into asset design, consistency in design. Identifying good documentation.</p>
  <h2>Achievements</h2>
  <p>Everything in this game was 99% originally created by us. All assets, design and content were uniquely authored by the three of us. No corns were harmed in the making of this game.</p>
  <h2>Deploy</h2>
  <p>We successfully deployed the front end Cornman game to Heroku, as well as the Cornman API housing the database and this website. Deployment to Google Play store coming soon...</p>
  </div>
  <div class="six columns group-image">
    <%= image_tag("IMG_0155.JPG", {size: "648x340"} ) %>
  </div>
  <footer>
  <p class="offset-by-one columns"><a href='https://www.youtube.com/watch?v=fdxlA8UoNB0'>Credits to Music</a></p>
  </footer>
<!-- video -->
</section>

  </div>
</div>

<script>
onePageScroll(".main", {
 sectionContainer: "section",
 loop: true,
 responsiveFallback: false
});

</script>
